<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fleet_Manager_Android_App"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:label="My App"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".appFeatures.PermissionsActivity" />
        <activity android:name=".appFeatures.userSession.LoginPanel" />

        <activity android:name=".appFeatures.userSession.StandardUser" />
        <activity android:name=".appFeatures.userSession.RidePanel" />
        <activity android:name=".appFeatures.userSession.ChooseVehiclePanel" />
        <activity android:name=".appFeatures.userSession.CheckInPanel" />
        <activity android:name=".appFeatures.userSession.EndRidePanel" />
        <activity android:name=".appFeatures.userSession.AddVehicleParametersPanel" />

        <activity android:name=".appFeatures.managerSession.ManagerMainPanel" />
        <activity android:name=".appFeatures.managerSession.RideTrackerPanel" />
        <activity android:name=".appFeatures.managerSession.AddRepairPanel" />
        <activity android:name=".appFeatures.managerSession.VehicleInfoPanel" />
        <activity android:name=".appFeatures.managerSession.RepairStatusPanel" />
        <activity android:name=".appFeatures.managerSession.VehicleStatusPanel" />
        <activity android:name=".appFeatures.managerSession.ManagerRepairPanel" />

    </application>

</manifest>
